{{! Template: Index }}
{{!< default}}

<div class="wrapper">

    <main class="page">

        {{> "blog-info"}}

        {{> "post-list"}}

        {{pagination}}

    </main>

    {{> "subscribe"}}

</div>
