{{! Template: Tag }}
{{!< default}}

<div class="wrapper">

    <main class="page">

        {{> "archive"}}

        {{> "post-list"}}

        {{pagination}}

    </main>

    {{> "subscribe"}}

</div>
