/*------------------------------------------------------------------
    Component: Blog Title
-------------------------------------------------------------------*/

.blog-title {
    &:hover {
        .blog-title-logo {
            transform: scale(0.9);
        }
    }
}

.blog-title-logo {
    display: inline-block;
    max-width: 300px;
    max-height: 58px;

    img {
        display: block;
        width: auto;
        max-width: inherit;
        max-height: inherit;
    }
}

.blog-title-header {
    font-size: 26px;
    line-height: normal;
    margin: 0;
    color: #1b1c1f;

    a {
        text-decoration: none;
    }
}
