/*------------------------------------------------------------------
    Component: Post Authors
-------------------------------------------------------------------*/

.post-authors {
    font-size: 17px;
    color: #9da0a7;

    a {
        &:hover {
            text-decoration-color: #eee;
        }
    }
}
